<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.wego.web.review.ReviewMapper">

	<select id="createReview" parameterType="hashmap">
		${CREATE_REVIEW}
	</select>
	
	<select id="dropReview" parameterType="map">
		${DROP_TABLE}
	</select>

	
	<select id="truncateReview" parameterType="hashmap">
		${TRUNCATE}
	</select>
    
    

</mapper>